.mainCard {
	display: grid;
	background-color: #180635;
	border-bottom: 4px solid var(--ui-border-color);
	border-right: 4px solid var(--ui-border-color);
	border-radius: 8px;
	margin: 0 0.5rem 0 0;
	filter: opacity(80%);
	text-align: center;
	color: var(--ui-text-color);
	padding: 2rem;
}

.locationText {
	font-size: 2.7rem;
	margin: 3rem 0 0 0;
}

.tempText {
	font-size: 5rem;
}

.descriptionText {
	font-size: 1.2rem;
}

.secondaryCard {
	display: grid;
	border-radius: 1rem;
	margin: 0 0 0 0.5rem;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
	max-height: 200px;
	background-color: #180635;
	border-bottom: 4px solid var(--ui-border-color);
	border-right: 4px solid var(--ui-border-color);
	border-radius: 8px;
	margin-bottom: 0.5rem;
	filter: opacity(80%);
	color: var(--ui-text-color);
}
